/* App.css */
.app {
  display: flex;
  font-family: 'Arial', sans-serif;
}

/* This is a simple reset to remove margin and padding that browsers add by default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}