.todo-app {
    background-color: #e0f2fe;
    margin: 5px 2px 10px 10px ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

.todo-header {
    background-color: #0299e2;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    min-height: 20px;
}

