body {
    font-family: Arial, sans-serif;
  }
  
  .project-table-container {
    overflow-x: auto;
    padding: 10px;
  }

.project-table-header-cell,
.project-table-cell {
  border: 1px solid black;
  padding: 8px;
  text-align: center; 
  padding: 20px;
}
  
.project-table {
width: 100%;
border-collapse: collapse;
text-align: center;
}

.project-table-header-cell,
.project-table-cell {
border: 1px solid black;
padding: 8px;
}

.project-table-header-cell {
background-color: #444; /* 헤더의 노란색 배경 */
}

.progress-bar-container {
height: 20px;
background-color: #CAB5F8; /* 진행률 바의 연한 배경색 */
border-radius: 10px;
overflow: hidden;
}

.progress-bar {
height: 100%;
background-color: #8E44AD; /* 진행률의 보라색 */
color: white;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
border-radius: 10px;
transition: width 0.4s ease;
}

@media (max-width: 600px) {
.project-table {
    display: block;
    width: 100%;
}

.project-table-header-cell,
.project-table-cell {
    display: inline-block;
    width: 8%;
    margin-bottom: 10px;
}

.progress-bar-container {
    width: 100%;
}
}