.table-container {
  width: 100%;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  position: relative; /* th에 대해 의사 요소를 상대적으로 위치시킵니다. */
}

/* 특정 열 사이에만 수직선을 추가하는 스타일 */
th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%; /* 선이 중간에서 시작되도록 아래로 이동 */
  bottom: 25%; /* 높이를 50% 줄입니다. */
  right: 0;
  width: 1px; /* 수직선의 너비 */
  background-color: #ddd;
}

th {
  background-color: #f5f5f5;
  color: #333;
  font-weight: normal;
  font-size: 14px;
 
}

td {
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

tr:hover td {
  background-color: #f5f5f5;
}

.edit-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}